[submodule "extradite"]
	path = extradite
	url = https://github.com/int3/vim-extradite
[submodule "emmet"]
	path = emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "localvimrc"]
	path = localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "python"]
	path = python
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "CSScomb-for-Vim"]
	path = CSScomb-for-Vim
	url = https://github.com/miripiruni/CSScomb-for-Vim.git
[submodule "vim-json"]
	path = vim-json
	url = git://github.com/helino/vim-json.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-flake8"]
	path = vim-flake8
	url = git://github.com/nvie/vim-flake8.git
