[submodule "extradite"]
	path = extradite
	url = https://github.com/int3/vim-extradite
[submodule "emmet"]
	path = emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "localvimrc"]
	path = localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "greplace"]
	path = greplace
	url = git@github.com:yegappan/greplace.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim-graphql"]
	path = vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim-toml"]
	path = vim-toml
	url = https://github.com/cespare/vim-toml.git
